<title>Album</title>
<section class="event">

<div id="album">
  <h1>Start Today</h1>
  <p>An eclectic mix of esoteric storytelling, extended instrumentals, acoustic rhythms, tribal beats, bluesy grooves, and spirited jamming. Start Today is not just for adults, observations show that children love to sing along to their favorites.</p>
  <div style='width:225px; height:120px; margin:0; padding:0; border:0; background-image:url(http://www.cdbaby.com/Images/Links/Black-Buy_Album_100px_horz.png);'><a href='http://www.cdbaby.com/cd/stevesmith72' style='display:block; padding:10px 10px 10px 115px; margin:0; border:0;'><img src='http://CDBaby.name/s/t/stevesmith72_small.jpg' width='100' height='100' alt='Steve Smith: Start Today' style='border:0; margin:0; padding:0;' /></a></div>
</div>
<div id="album_image">
  <%= image_tag("start_today391x380.jpg", width: 391, :alt => 'Start Today', :id => 'StartToday') %>
</div>

<!-- <p id="buy_me">Hello World!</p> -->
<div id="buy_me">
  <%= image_tag("press_play.png", :alt => 'Press Play', :id => 'press_play') %>
</div>

</section>