 <div id = "main">
      <p><%= link_to "About", about_path %><p>
      <p>Some more text<p>
        <%= render "partialtest" %>
        <p><%= link_to "Add new venue", new_venue_path %><p>
    </div> 