<title>Home</title>
<div id="information">Steve Smith is an Indianapolis based musician. SmithSongs. Indy. Acoustic. Guitar.</div>
<div id="makeMeScrollable">
  <%= link_to image_tag("start_today391x380.jpg", width: 391, :alt => 'Start Today', :id => 'StartToday'), '/album', :id => 'Album' %>
  <%= link_to image_tag("egyptian_calendar390x380.jpg", width: 390, :alt => 'Calendar', :id => 'calendar'), events_path, :id => 'Events' %>
  <%= link_to image_tag("possible_start_today360x380.jpg", width: 360, :alt => 'Old Start Today', :id => 'OldStartToday'), '/album', :id => 'Album' %>
  <%= link_to image_tag("steve_photos353x380.jpg", width: 353, :alt => 'Photos', :id => 'photos'), '/photos', :id => 'Photos' %>
</div>
