<%= stylesheet_link_tag    "youTubeEmbed-jquery-1.0.css", :media => "all" %>
<%= javascript_include_tag "videos.js" %>
<%= javascript_include_tag "youTubeEmbed-jquery-1.0.js" %>
<%= javascript_include_tag "jquery.swfobject.1-1-1.min.js" %>
 
<title>Videos</title>
<div id="player"></div>
