<title>Videos</title>

<div class="videoContainer">
  <iframe class="videoFrame" width="640" height="360" src="http://www.youtube.com/embed/8x6dceykc1Y?showinfo=0&modestbranding=1&theme=dark&autohide=1" frameborder="0" allowfullscreen></iframe>
  <div id="event_description">
    <p><h1>Steve Smith - CD Release Party - 6.2.2012 - Set One</h1>
      Start Today (album) CD Release Party @ Shallo's Antique Restaurant and Brewhaus - Greenwood, IN on June 2, 2012.
      <ol>
        <li>Start Today</li>
        <li>The Ghost of Tuesday</li>
        <li>The Volrath</li>
        <li>Going to the Well</li>
        <li>Big River</li>
        <li>Be Here Now</li>
        <li>Charlie and Conga J Drum Jam</li>
      </ol>

* Entire set with special guest Jacob "Conga J" Guinnup on percussion
</p></div><hr></div>

<div class="videoContainer">
  <iframe class="videoFrame" width="640" height="360" src="http://www.youtube.com/embed/0ztsvVXvRss?showinfo=0&modestbranding=1&theme=dark&autohide=1" frameborder="0" allowfullscreen></iframe>
  <div id="event_description">
    <p><h1>Fernhead - 6.9.12 - Melody Inn - Indianapolis, IN</h1>
      Steve Smith - Guitar/Vocals, Todd Vendeley - Bass, Jacob "Conga J" Guinnup - Drums.
      <ol>
        <li>The Volrath</li>
        <li>Turnaround</li>
        <li>High Water</li>
        <li>Be Here Now</li>
        <li>Gasoline</li>
        <li>Golden State</li>
      </ol>
</p></div><hr></div>



