// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#cart {
  clear: left;
  width: 234px;
  float: left;
  padding: 4px;
  background-color: white;
  border-radius: 9px; 
  -moz-border-radius: 9px; 
  -webkit-border-radius: 9px; 
  border: 1px solid  #CCC;
  margin-top: 25px;

}

#cart, #cart table {
  font-size: smaller;
  color: #3B3B3B;
}

#cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
  border-collapse: collapse;
}
