// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.event{
  border:2px solid black; 
  padding: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .3);
}

#venue {
  overflow: hidden;
}

#event_time h1 {
  margin: 0px;
  font-size: 2em;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

#event_time span {
  font-size: 1em;
}

#events {
  position: relative;
  bottom: 35px;
}
#event_side {
  width: 40%;
  float: left;
  padding: 0px 25px 0px 0px;
}

#events .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#events #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#events ul {
  font-size: 11px;
  padding-left: 20px;
  list-style-type: none;
}

#map_canvas {
  width:350px; 
  height:350px;
  border: 1px solid black;
}

#event_description {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

#event_description h1 {
  font-size: 26px;
  font-family: 'Lobster', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
}
